
a.modal-trigger:link,
a.modal-trigger:hover,
a.modal-trigger:visited,
a.modal-trigger:active {
  display: block;
  text-decoration: none;
  color: #fefefe;
  font-size: 2em;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: #29B6F6;
  position: fixed;
  z-index: 5;
  top: calc(100% - 75px);
  left: calc(100% - 75px);
  transform-origin: 50%;
  transform: rotate(90deg);
  transition: all .5s ease;
  backface-visibility: hidden;
}
a.modal-trigger:hover {
  background: #03A9F4;
}
a.modal-trigger:active {
  box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.3);
}
a.modal-trigger.opened {
  top: -230px;
  left: -80px;
  transform: rotate(-45deg);
  transform-origin: 750%;
}
a.modal-trigger.opened ~ .modal .inner-modal {
  width: 200vw;
  height: 200vw;
}
a.modal-trigger.opened ~ .modal .inner-modal .modal-content {
  opacity: 1;
  transition-delay: .5s;
}
.modal {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
.modal .inner-modal {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  background: #01579B;
  width: 0;
  height: 0;
  transition: all 0.4s ease-in 0.4s;
  backface-visibility: hidden;
}
.modal .inner-modal .modal-content {
  opacity: 0;
  transition: opacity .4s ease;
  backface-visibility: hidden;
  color: #fefefe;
  text-align: center;
  max-width: 90vw;
  max-height: 90vh;
}
