<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Race to ACE password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
           Howdy!
        </p>
        <p>
            A password reset was requested for your Race to ACE account. Please click on the URL below to reset it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/password?email=${user.email}&amp;resetKey=${user.resetKey}|}">Reset my password now</a>
        </p>
        <p>
            <span>Regards, </span>
            <br/>
            <em>Race to ACE Team.</em>
        </p>
    </body>
</html>
