
<div class="mdl-grid demo-content">
  <h3>
    <span ng-bind="mainChallenge.title"></span> : <small ng-bind="mainChallenge.details"></small>
  </h3>
</div>
<div class="mdl-grid demo-content">
  <table id="table" class="default-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Email</th>
        <th class="mdl-data-table__cell--non-numeric">Status</th>
        <th class="mdl-data-table__cell--non-numeric">Winner</th>
        <th class="mdl-data-table__cell--non-numeric">Points Earned</th>
        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="userChallenge in userChallenges">
        <td class="mdl-data-table__cell--non-numeric" ng-bind="userChallenge.user.email"></td>
        <td class="mdl-data-table__cell--non-numeric" ng-bind="userChallenge.status"></td>
        <td class="mdl-data-table__cell--non-numeric" ng-bind="userChallenge.winner ? 'Yes':'No'"></td>
        <td class="mdl-data-table__cell--non-numeric" ng-bind="userChallenge.earnedPoints"></td>
      </tr>
    </tbody>
  </table>
</div>
