
<div class="mdl-grid demo-content">
  <div class="challenge-form mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Team Challenge Information</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form name="challengeform" class="mdl-grid" novalidate>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
          <input class="mdl-textfield__input" type="text" ng-model="mainChallenge.title" required maxlength="100"/> <label class="mdl-textfield__label" for="sample3">Title</label>
        </div>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
          <input class="mdl-textfield__input" type="text" ng-model="mainChallenge.details" required  maxlength="100"/> <label class="mdl-textfield__label">Details</label>
        </div>
        <!-- <div class="mdl-grid"> -->
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
            <input class="mdl-textfield__input" type="datetime-local" ng-model="mainChallenge.startDate" required /> <label class="mdl-textfield__label"> Start Date</label>
          </div>
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
            <input class="mdl-textfield__input" type="datetime-local" ng-model="mainChallenge.endDate" required /> <label class="mdl-textfield__label"> End Date</label>
          </div>
        <!-- </div> -->
        <!-- POINTS -->
        <div class="mdl-grid">
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            <input class="mdl-textfield__input" type="number" ng-model="mainChallenge.winnerPoints" required /> <label class="mdl-textfield__label">
            Winner Points</label>
          </div>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button mdl-upgrade class="mdl-button mdl-js-button mdl-js-ripple-effect" style="float: left;" ui-sref="teamchallengelist">Cancel</button>
      <button mdl-upgrade class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="float: right;" ng-disabled="!challengeform.$valid" ng-click="saveChallenge()">Save</button>
    </div>
    
    <div class="mdl-card__actions mdl-card--border" ng-show="mainChallenge.id">
      <h3>Teams Joined</h3>
      <table id="table" class="default-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Team name</th>
            <th class="mdl-data-table__cell--non-numeric">Members</th>
            <th class="mdl-data-table__cell--non-numeric">Completed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="userTeam in userTeams" ng-click="setTeam(userTeam)">
            <td class="mdl-data-table__cell--non-numeric" ng-bind="userTeam.name"></td>
            <td class="mdl-data-table__cell--non-numeric" ng-bind="userTeam.members.length"></td>
            <td class="mdl-data-table__cell--non-numeric" ng-bind="userTeam.winner ? 'Yes':'No'"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <style>
    .card-result.mdl-card {
      background: #ff4081;
    }
    .card-result > .mdl-card__actions {
      border-color: rgba(255, 255, 255, 0.2);
    }
    .card-result > .mdl-card__title > h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .card-result > .mdl-card__actions {
      display: flex;
      box-sizing:border-box;
      align-items: center;
    }
    .card-result > .mdl-card__title,
    .card-result > .mdl-card__actions,
    .card-result > .mdl-card__actions > .mdl-button {
      color: #fff;
    }
  </style>
  <div class="modal-trigger" ng-class="{'opened': viewMembers}" ng-click="viewMembers = false;">+</div>
  <div class="modal">
    <div class="inner-modal">
      <div class="modal-content">
        <div class="card-result mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h4 ng-bind="mainUserTeam.name+ ' members' "></h4>
          </div>
          <div ng-repeat="selection in mainUserTeam.members" class="mdl-card__actions mdl-card--border">
            {{selection.profile.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
