
<div class="mdl-grid demo-content">
  <div class="challenge-form mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Challenge Information</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form name="challengeform" class="mdl-grid" novalidate>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
          <input class="mdl-textfield__input" type="text" ng-model="mainChallenge.title" required maxlength="100"/> <label class="mdl-textfield__label" for="sample3">Title</label>
        </div>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
          <input class="mdl-textfield__input" type="text" ng-model="mainChallenge.details" required  maxlength="100"/> <label class="mdl-textfield__label">Details</label>
        </div>
        <!-- <div class="mdl-grid"> -->
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
            <input class="mdl-textfield__input" type="datetime-local" ng-model="mainChallenge.startDate" required /> <label class="mdl-textfield__label">
              Start Date</label>
          </div>
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
            <input class="mdl-textfield__input" type="datetime-local" ng-model="mainChallenge.endDate" required /> <label class="mdl-textfield__label"> End Date</label>
          </div>
        <!-- </div> -->
        <!-- POINTS -->
        <div class="mdl-grid">
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
            <input class="mdl-textfield__input" type="number" ng-model="mainChallenge.winnerPoints" required /> <label class="mdl-textfield__label">
            Winner Points</label>
          </div>
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
            <input class="mdl-textfield__input" type="number" ng-model="mainChallenge.consolationPoints" required /> <label class="mdl-textfield__label"> 
            Consolation Points</label>
          </div>
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
            <input class="mdl-textfield__input" type="number" ng-model="mainChallenge.penalty" required /> <label class="mdl-textfield__label"> 
            Penalty</label>
          </div>
        </div>
        
        <!-- TASKS -->
        <div class="task-card mdl-card mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--12-col" ng-repeat="task in mainChallenge.tasks">
          <!-- <div class="task-number">#{{$index+1}}</div> -->
          <i ng-hide="$index==0"class="mdl-color-text--blue-grey-400 material-icons delete-task" role="presentation" ng-click="removeTask(task)">close</i>
          <div class="mdl-card__title task-title">
            <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--8-col">
              <input class="mdl-textfield__input" type="text" ng-model="task.title" required  maxlength="100"/> <label class="mdl-textfield__label">Task #{{$index+1}} Title</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label task-field mdl-cell mdl-cell--4-col">
              <select id="time" placeholder="Time" style="height: 28px"ng-model="task.type" ng-disabled="task.id" class="mdl-textfield__input">
                <option selected disabled="disabled">Type</option>
                <option>SIMPLE</option>
                <option>POLL</option>
                <option>QUIZ</option>
                <!-- <option>LOCATION</option> -->
              </select>
            </div>
          </div>
          <div class="mdl-card__supporting-text task-details">
              <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                <textarea class="mdl-textfield__input" ng-model="task.description"  type="text" rows= "2" id="sample5"  maxlength="200"></textarea>
                <label class="mdl-textfield__label" for="sample5">Description</label>
              </div>
              <!-- SIMPLE TASK -->
              <div mdl-upgrade ng-show="task.type == 'SIMPLE'" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                <input class="mdl-textfield__input" type="text" ng-model="task.code"  ng-required="task.type == 'SIMPLE'" /> <label class="mdl-textfield__label">Code</label>
              </div>
              
              <!-- QUIZ TASK -->
              <div ng-show="task.type == 'QUIZ'" class="mdl-grid mdl-cell--5-col" style="margin-left:auto; margin-right:auto;" >
                <img class="reward-item-full-pic" src="{{task.image? task.image:'/admin/assets/images/no-image.png'}}" ngf-select ngf-change="upload($file,task)"/>
              </div>
              <div mdl-upgrade ng-show="task.type == 'QUIZ'" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                <input class="mdl-textfield__input" type="text" ng-model="task.answer" ng-required="task.type == 'QUIZ'" /> <label class="mdl-textfield__label">Answer</label>
                
              </div>
              
              <!-- POLL TASK -->
              <div class="mdl-grid" ng-show="task.type == 'POLL'" >
                <button ng-click="viewResults(task)" mdl-upgrade class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored" style="margin-left:auto;margin-right:auto;" type="button">Results</button>
              </div>
              
              <button ng-show="task.type == 'POLL'" ng-click="addSelection(task)" class="mdl-button mdl-js-button mdl-button--icon add-selection" type="button">
                <i class="material-icons">add</i>
              </button>
              
              <div class="mdl-grid"  ng-show="task.type == 'POLL'" ng-repeat="selection in task.selections">
                <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--2-col">
                  <input class="mdl-textfield__input" type="text" ng-model="selection.choice" ng-required="task.type == 'POLL'" /> <label class="mdl-textfield__label">Choice</label>
                </div>
                <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--8-col">
                  <input class="mdl-textfield__input" type="text" ng-model="selection.text" ng-required="task.type == 'POLL'" /> <label class="mdl-textfield__label">Text</label>
                </div>
                <button ng-click="removeSelection(task,selection)" class="mdl-button mdl-js-button mdl-button--icon  mdl-cell mdl-cell--1-col  delete-selection" type="button">
                  <i class="material-icons" role="presentation">close</i>
                </button>
              </div>
              
              
              <!-- LOCATION TASK -->
              <div class="mdl-grid"  ng-show="task.type == 'LOCATION'">
                <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                  <input class="mdl-textfield__input" type="number" step="any" ng-model="task.longitude" ng-required="task.type == 'LOCATION'" /> <label class="mdl-textfield__label">Longitude</label>
                </div>
                
                <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                  <input class="mdl-textfield__input" type="number" step="any" ng-model="task.latitude" ng-required="task.type == 'LOCATION'" /> <label class="mdl-textfield__label">Latitude</label>
                </div>
              </div>
              <div class="mdl-grid" ng-show="task.type == 'LOCATION'">
              
                <button ng-click="editLocation(task)" class="mdl-button mdl-js-button mdl-button--icon" style="margin-left:auto;margin-right:auto;" type="button">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">location_on</i>
                </button>
                
              </div>
          </div>
        </div>
        <!-- END TASK -->
        
        <div class="mdl-grid">
          <button ng-click="addTask()" mdl-upgrade class="mdl-button mdl-js-button mdl-button--raised" style="margin-left:auto;margin-right:auto;" type="button">Add Task</button>
        </div>
        
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button mdl-upgrade class="mdl-button mdl-js-button mdl-js-ripple-effect" style="float: left;" ui-sref="challengelist">Cancel</button>
      <button mdl-upgrade class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="float: right;" ng-disabled="!challengeform.$valid" ng-click="saveChallenge()">Save</button>
    </div>
  </div>
  <div class="modal-trigger" ng-class="{'opened': mainTask}" ng-click="saveLocation()">+</div>
  <div class="modal">
    <div class="inner-modal">
      <div class="modal-content">
        <leaflet center="center" markers="markers" style="height:40em;width:60em"></leaflet>
      </div>
    </div>
  </div>
  <style>
    .card-result.mdl-card {
      background: #3E4EB8;
    }
    .card-result > .mdl-card__actions {
      border-color: rgba(255, 255, 255, 0.2);
    }
    .card-result > .mdl-card__title > h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .card-result > .mdl-card__actions {
      display: flex;
      box-sizing:border-box;
      align-items: center;
    }
    .card-result > .mdl-card__title,
    .card-result > .mdl-card__actions,
    .card-result > .mdl-card__actions > .mdl-button {
      color: #fff;
    }
  </style>
  <div class="modal-trigger" ng-class="{'opened': pollTask}" ng-click="pollTask = false;">+</div>
  <div class="modal">
    <div class="inner-modal">
      <div class="modal-content">
        <div class="card-result mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h4 ng-bind="pollTask.description"></h4>
          </div>
          <div ng-repeat="selection in pollTask.selections" class="mdl-card__actions mdl-card--border">
            {{selection.text}}
            <div class="mdl-layout-spacer"></div>
            {{selection.votes?selection.votes:'0'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
