
<div class="mdl-grid demo-content">
  <div class="challenge-form mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Award Information</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form name="awardform" class="mdl-grid" novalidate>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
          <input class="mdl-textfield__input" type="text" ng-model="mainAward.name" required maxlength="100"/> <label class="mdl-textfield__label" for="sample3">Name</label>
        </div>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
          <input class="mdl-textfield__input" type="text" ng-model="mainAward.description" required  maxlength="100"/> <label class="mdl-textfield__label">Description</label>
        </div>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
          <input class="mdl-textfield__input" type="datetime-local" ng-model="mainAward.startDate" required /> <label class="mdl-textfield__label">
            Start Date</label>
        </div>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
          <input class="mdl-textfield__input" type="datetime-local" ng-model="mainAward.endDate" required /> <label class="mdl-textfield__label"> End Date</label>
        </div>
        <!-- POINTS -->
        <div class="mdl-grid">
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            <input class="mdl-textfield__input" type="number" ng-model="mainAward.rewardPoints" required /> <label class="mdl-textfield__label">
            Winner Points</label>
          </div>
          
          <button id="user-group-selection" style="margin-top:20px;" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
           <i class="material-icons">group</i>
          </button>
          <div  mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--9-col">
            <input class="mdl-textfield__input" type="text" ng-model="mainAward.userGroup.name" required readonly placeholder="User Group"/> 
          </div>
          
          <ul mdl-upgrade class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="user-group-selection" style="max-height:450px; overflow-y:scroll;">
            <li ng-repeat="userGroup in userGroups" ng-click="mainAward.userGroup=userGroup;" class="mdl-menu__item">{{userGroup.name}}</li>
          </ul>
        </div>
        
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button mdl-upgrade class="mdl-button mdl-js-button mdl-js-ripple-effect" style="float: left;" ui-sref="awardlist">Cancel</button>
      <button mdl-upgrade class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="float: right;" ng-disabled="!awardform.$valid" ng-click="saveAward()">Save</button>
    </div>
  </div>
</div>
