<div class="mdl-grid demo-content">
  <table id="table" class="default-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric" >Description</th>
        <th class="small">Start date</th>
        <th class="small">End date</th>
        <th class="small">Reward Points</th>
        <th class="small">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="award in awards">
        <td ui-sref="editaward({awardId:award.id})" class="mdl-data-table__cell--non-numeric" ng-bind="award.name"></td>
        <td ui-sref="editaward({awardId:award.id})" class="mdl-data-table__cell--non-numeric" ng-bind="award.description"></td>
        <td ui-sref="editaward({awardId:award.id})" ng-bind="award.startDate | date:'MMM d yyyy'"></td>
        <td ui-sref="editaward({awardId:award.id})" ng-bind="award.endDate | date:'MMM d yyyy'"></td>
        <td ui-sref="editaward({awardId:award.id})" ng-bind="award.rewardPoints"></td>
        <td><a  ui-sref="awardnominations({awardId:award.id})">Nominations</a></td>
      </tr>
    </tbody>
  </table>
  <div class="row" >
    <div class="pagination">
      <span ng-show="links['prev']" ng-click="loadPage(links['prev'])"><</span>
      <span ng-show="page > 2" ng-click="loadPage(page - 2)">{{page - 2}}</span>
      <span ng-show="page > 1" ng-click="loadPage(page - 1)">{{page - 1}}</span>
      <span class="active">{{page}}</span>
      <span ng-show="page < links['last']" ng-click="loadPage(page + 1)">{{page + 1}}</span>
      <span ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)">{{page + 2}}</span>
      <span ng-show="links['next']" ng-click="loadPage(links['next'])">></span>
    </div>
  </div>
</div>
<!-- Colored mini FAB button -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--fab mdl-button--colored modal__trigger"
    ui-sref="newaward" 
	style="bottom: 24px; right: 24px; position: fixed;">
  <i class="material-icons">add</i>
</button>