
<div class="mdl-grid demo-content">
  <h3>
    <span ng-bind="mainAward.name"></span> : <small ng-bind="mainAward.description"></small>
  </h3>
</div>
<div class="mdl-grid demo-content">
  <table id="table" class="default-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Email</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>Nomination Count</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="userNomination in userNominations">
        <td class="mdl-data-table__cell--non-numeric" ng-bind="userNomination.user.email"></td>
        <td class="mdl-data-table__cell--non-numeric" ng-bind="userNomination.user.name"></td>
        <td ng-bind="userNomination.count"></td>
      </tr>
    </tbody>
  </table>
</div>
