  <a class="modal-trigger" ng-class="{'opened': toggle}" href="#/newchallenge" ng-click="toggle=!toggle">+</a>
  <div class="modal">
    <div class="inner-modal">
      <div class="modal-content">
        
      </div>
    </div>
  </div>