/**
 * Material Modal CSS
 */

.modal-trigger {
  display: block;
  text-decoration: none;
  color: #fefefe;
  font-size: 2em;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: #29B6F6;
  position: fixed;
  z-index: 5;
  top: calc(100% + 75px);
  left: calc(100% - 75px);
  transform: rotate(90deg);
  transition: all .4s ease;
}
.modal-trigger:hover {
  background: #03A9F4;
}
.modal-trigger:active {
  box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.3);
}
.modal-trigger.opened {
  top: 75px;
  right: 30px;
  transform: rotate(-45deg);
}
.modal-trigger.opened ~ .modal .inner-modal {
  width: 200vw;
  height: 200vw;
}
.modal-trigger.opened ~ .modal{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.modal-trigger.opened ~ .modal .inner-modal .modal-content {
  opacity: 1;
  z-index: 1;
  transition-delay: .5s;
}

.modal {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  height: 0%;
  position: fixed;
  z-index: -1;
  transition:z-index .5s;
  top: calc(100% - 50%);
  left: calc(100% - 50%);
}
.modal .inner-modal {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  background: #424242;
  width: 0;
  height: 0;
  transition: all 0.3s ease-in 0.3s;
}
.modal .inner-modal .modal-content {
  opacity: 0;
  transition: opacity .4s ease-in;
  backface-visibility: hidden;
  color: #fefefe;
  text-align: center;
}
