<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Application Metrics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="app">
        <div class="container" ng-controller="MetricsController">
            <div class="well">
                <div>
                  <h2>Application Metrics</h2>
                  <p>
                      <button type="button" class="btn btn-primary" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;<span>Refresh</span></button>
                  </p>
                  
                  <h3>JVM Metrics</h3>
                  <div class="row" ng-hide="updatingMetrics">
                      <div class="col-md-4">
                          <b>Memory</b>
                          <p><span>Total Memory</span> ({{metrics.gauges['jvm.memory.total.used'].value / 1000000 | number:0}}M / {{metrics.gauges['jvm.memory.total.max'].value / 1000000 | number:0}}M)</p>
                          <uib-progressbar min="0" max="metrics.gauges['jvm.memory.total.max'].value" value="metrics.gauges['jvm.memory.total.used'].value" class="progress-striped active" type="success">
                              <span>{{metrics.gauges['jvm.memory.total.used'].value * 100 / metrics.gauges['jvm.memory.total.max'].value  | number:0}}%</span>
                          </uib-progressbar>
                          <p><span>Heap Memory</span> ({{metrics.gauges['jvm.memory.heap.used'].value / 1000000 | number:0}}M / {{metrics.gauges['jvm.memory.heap.max'].value / 1000000 | number:0}}M)</p>
                          <uib-progressbar min="0" max="metrics.gauges['jvm.memory.heap.max'].value" value="metrics.gauges['jvm.memory.heap.used'].value" class="progress-striped active" type="success">
                              <span>{{metrics.gauges['jvm.memory.heap.used'].value * 100 / metrics.gauges['jvm.memory.heap.max'].value  | number:0}}%</span>
                          </uib-progressbar>
                          <p><span>Non-Heap Memory</span> ({{metrics.gauges['jvm.memory.non-heap.used'].value / 1000000 | number:0}}M / {{metrics.gauges['jvm.memory.non-heap.committed'].value / 1000000 | number:0}}M)</p>
                          <uib-progressbar min="0" max="metrics.gauges['jvm.memory.non-heap.committed'].value" value="metrics.gauges['jvm.memory.non-heap.used'].value" class="progress-striped active" type="success">
                              <span>{{metrics.gauges['jvm.memory.non-heap.used'].value * 100 / metrics.gauges['jvm.memory.non-heap.committed'].value  | number:0}}%</span>
                          </uib-progressbar>
                      </div>
                      <div class="col-md-4">
                          <b>Threads</b> (Total: {{metrics.gauges['jvm.threads.count'].value}}) <a class="hand" ng-click="refreshThreadDumpData()" data-toggle="modal" data-target="#threadDump"><i class="glyphicon glyphicon-eye-open"></i></a>
                          <p><span>Runnable</span> {{metrics.gauges['jvm.threads.runnable.count'].value}}</p>
                          <uib-progressbar min="0" value="metrics.gauges['jvm.threads.runnable.count'].value" max="metrics.gauges['jvm.threads.count'].value" class="progress-striped active" type="success">
                              <span>{{metrics.gauges['jvm.threads.runnable.count'].value * 100 / metrics.gauges['jvm.threads.count'].value  | number:0}}%</span>
                          </uib-progressbar>
                          <p><span>Timed Waiting</span> ({{metrics.gauges['jvm.threads.timed_waiting.count'].value}})</p>
                          <uib-progressbar min="0" value="metrics.gauges['jvm.threads.timed_waiting.count'].value" max="metrics.gauges['jvm.threads.count'].value" class="progress-striped active" type="warning">
                              <span>{{metrics.gauges['jvm.threads.timed_waiting.count'].value * 100 / metrics.gauges['jvm.threads.count'].value  | number:0}}%</span>
                          </uib-progressbar>
                          <p><span>Waiting</span> ({{metrics.gauges['jvm.threads.waiting.count'].value}})</p>
                          <uib-progressbar min="0" value="metrics.gauges['jvm.threads.waiting.count'].value" max="metrics.gauges['jvm.threads.count'].value" class="progress-striped active" type="warning">
                              <span>{{metrics.gauges['jvm.threads.waiting.count'].value * 100 / metrics.gauges['jvm.threads.count'].value  | number:0}}%</span>
                          </uib-progressbar>
                          <p><span>Blocked</span> ({{metrics.gauges['jvm.threads.blocked.count'].value}})</p>
                          <uib-progressbar min="0" value="metrics.gauges['jvm.threads.blocked.count'].value" max="metrics.gauges['jvm.threads.count'].value" class="progress-striped active" type="success">
                              <span>{{metrics.gauges['jvm.threads.blocked.count'].value * 100 / metrics.gauges['jvm.threads.count'].value  | number:0}}%</span>
                          </uib-progressbar>
                      </div>
                      <div class="col-md-4">
                          <b>Garbage collections</b>
                          <div class="row">
                              <div class="col-md-9">Mark Sweep count</div>
                              <div class="col-md-3 text-right">{{metrics.gauges['jvm.garbage.PS-MarkSweep.count'].value}}</div>
                          </div>
                          <div class="row">
                              <div class="col-md-9">Mark Sweep time</div>
                              <div class="col-md-3 text-right">{{metrics.gauges['jvm.garbage.PS-MarkSweep.time'].value}}ms</div>
                          </div>
                          <div class="row">
                              <div class="col-md-9">Scavenge count</div>
                              <div class="col-md-3 text-right">{{metrics.gauges['jvm.garbage.PS-Scavenge.count'].value}}</div>
                          </div>
                          <div class="row">
                              <div class="col-md-9">Scavenge time</div>
                              <div class="col-md-3 text-right">{{metrics.gauges['jvm.garbage.PS-Scavenge.time'].value}}ms</div>
                          </div>
                      </div>
                  </div>
                  <div class="well well-lg" ng-show="updatingMetrics">Updating...</div>
                  
                  <h3>HTTP requests (events per second)</h3>
                      <p><span>Active requests</span> <b>{{metrics.counters['com.codahale.metrics.servlet.InstrumentedFilter.activeRequests'].count | number:0}}</b> - <span>Total requests</span> <b>{{metrics.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count | number:0}}</b></p>
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                          <tr>
                              <th>Code</th>
                              <th>Count</th>
                              <th class="text-right">Mean</th>
                              <th class="text-right"><span>Average</span> (1 min)</th>
                              <th class="text-right"><span>Average</span> (5 min)</th>
                              <th class="text-right"><span>Average</span> (15 min)</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td>OK</td>
                              <td>
                                  <uib-progressbar min="0" max="metrics.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count" value="metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].count" class="progress-striped active" type="success">
                                      <span>{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].count}}</span>
                                  </uib-progressbar>
                              </td>
                              <td class="text-right">
                                  {{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].mean_rate | number:2}}
                              </td>
                              <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].m1_rate | number:2}}
                              </td>
                              <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].m5_rate | number:2}}
                              </td>
                              <td class="text-right">
                                  {{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].m15_rate | number:2}}
                              </td>
                          </tr>
                          <tr>
                              <td>Not Found</td>
                              <td>
                                  <uib-progressbar min="0" max="metrics.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count" value="metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].count" class="progress-striped active" type="success">
                                      <span>{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].count}}</span>
                                  </uib-progressbar>
                              </td>
                              <td class="text-right">
                                  {{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].mean_rate | number:2}}
                              </td>
                              <td class="text-right">
                                  {{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].m1_rate | number:2}}
                              </td>
                              <td class="text-right">
                                  {{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].m5_rate | number:2}}
                              </td>
                              <td class="text-right">
                                  {{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].m15_rate | number:2}}
                              </td>
                          </tr>
                          <tr>
                              <td>Server error</td>
                              <td>
                                  <uib-progressbar min="0" max="metrics.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count" value="metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].count" class="progress-striped active" type="success">
                                      <span>{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].count}}</span>
                                  </uib-progressbar>
                              </td>
                              <td class="text-right">
                                  {{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].mean_rate | number:2}}
                              </td>
                              <td class="text-right">
                                  {{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].m1_rate | number:2}}
                              </td>
                              <td class="text-right">
                                  {{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].m5_rate | number:2}}
                              </td>
                              <td class="text-right">
                                  {{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].m15_rate | number:2}}
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                  
                  <h3>Services statistics (time in millisecond)</h3>
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                          <tr>
                              <th>Service name</th>
                              <th class="text-right">Count</th>
                              <th class="text-right">Mean</th>
                              <th class="text-right">Min</th>
                              <th class="text-right">p50</th>
                              <th class="text-right">p75</th>
                              <th class="text-right">p95</th>
                              <th class="text-right">p99</th>
                              <th class="text-right">Max</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="(k, v) in servicesStats">
                              <td>{{k}}</td>
                              <td class="text-right">{{v.count}}</td>
                              <td class="text-right">{{v.mean * 1000 | number:0}}</td>
                              <td class="text-right">{{v.min * 1000 | number:0}}</td>
                              <td class="text-right">{{v.p50 * 1000 | number:0}}</td>
                              <td class="text-right">{{v.p75 * 1000 | number:0}}</td>
                              <td class="text-right">{{v.p95 * 1000 | number:0}}</td>
                              <td class="text-right">{{v.p99 * 1000 | number:0}}</td>
                              <td class="text-right">{{v.max * 1000 | number:0}}</td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                  
                  <h3 ng-show="metrics.gauges['HikariPool-0.pool.TotalConnections'].value > 0">DataSource statistics (time in millisecond)</h3>
                  <div class="table-responsive" ng-show="metrics.gauges['HikariPool-0.pool.TotalConnections'].value > 0">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th><span>Usage</span> ({{metrics.gauges['HikariPool-0.pool.ActiveConnections'].value}} / {{metrics.gauges['HikariPool-0.pool.TotalConnections'].value}})</th>
                                  <th class="text-right">Count</th>
                                  <th class="text-right">Mean</th>
                                  <th class="text-right">Min</th>
                                  <th class="text-right">p50</th>
                                  <th class="text-right">p75</th>
                                  <th class="text-right">p95</th>
                                  <th class="text-right">p99</th>
                                  <th class="text-right">Max</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                      <div class="progress progress-striped">
                                          <uib-progressbar min="0" max="metrics.gauges['HikariPool-0.pool.TotalConnections'].value" value="metrics.gauges['HikariPool-0.pool.ActiveConnections'].value" class="progress-striped active" type="success">
                                              <span>{{metrics.gauges['HikariPool-0.pool.ActiveConnections'].value * 100 / metrics.gauges['HikariPool-0.pool.TotalConnections'].value  | number:0}}%</span>
                                          </uib-progressbar>
                                      </div>
                                  </td>
                                  <td class="text-right">{{metrics.histograms['HikariPool-0.pool.Usage'].count}}</td>
                                  <td class="text-right">{{metrics.histograms['HikariPool-0.pool.Usage'].mean | number:2}}</td>
                                  <td class="text-right">{{metrics.histograms['HikariPool-0.pool.Usage'].min | number:2}}</td>
                                  <td class="text-right">{{metrics.histograms['HikariPool-0.pool.Usage'].p50 | number:2}}</td>
                                  <td class="text-right">{{metrics.histograms['HikariPool-0.pool.Usage'].p75 | number:2}}</td>
                                  <td class="text-right">{{metrics.histograms['HikariPool-0.pool.Usage'].p95 | number:2}}</td>
                                  <td class="text-right">{{metrics.histograms['HikariPool-0.pool.Usage'].p99 | number:2}}</td>
                                  <td class="text-right">{{metrics.histograms['HikariPool-0.pool.Usage'].max | number:2}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
              </div>
        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

    <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
    <!-- <script src="/scripts/metrics/app.js"></script>
    <script src="/health/health.js"></script>
    <script src="/health/health.controller.js"></script>
    <script src="/health/health.modal.controller.js"></script> -->
    <script src="/app-metrics/metrics.js"></script>
    <script src="/app-metrics/monitoring.service.js"></script>
    <script src="/app-metrics/metrics.controller.js"></script>
    <script src="/app-metrics/metrics.modal.controller.js"></script>
    <!-- endbuild -->
</body>
</html>
