<!doctype html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="fast, modern mobile web app.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Race to Ace</title>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Material Design Lite">
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#3372DF">
<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
<link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">
<link rel="stylesheet" href="/admin/assets/material-modal/material-modal.css">
<link rel="stylesheet" href="/admin/assets/css/styles.css?date=11142015">
</head>
<body  ng-app="racetoace">
  <div ng-controller="SessionController" ng-class="{ 'mdl-layout--fixed-drawer': user}" class="mdl-layout mdl-js-layout  mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span ng-hide="user" id="brand" class="mdl-layout-title">Race to Ace</span>
        <img ng-show="user" src="/admin/assets/images/SMART-LOGO.png" style="height:80%;">
        <div class="mdl-layout-spacer"></div>
      </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50" style="display:hidden;">
      <header class="demo-drawer-header">
        <span class="brand">Race to</span>
        <span class="brand"> Ace</span>
        <div class="demo-avatar-dropdown">
          <div class="mdl-layout-spacer"></div>
          <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_drop_down</i>
            <span class="visuallyhidden">Accounts</span>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
            <li class="mdl-menu__item" ng-bind="user.email">hello@example.com</li>
            <li class="mdl-menu__item" ng-click="logout()"><i class="material-icons">close</i>Sign out</li>
          </ul>
        </div>
      </header>
      <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link active" href="#/challengelist"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Challenges</a>
        <a class="mdl-navigation__link active" href="#/teamchallenges"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">gesture</i>Team Challenges</a>
        <a class="mdl-navigation__link" href="#/usergroups"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Groups</a>
        <a class="mdl-navigation__link" href="#/awardlist"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">star</i>Awards</a>
        <a class="mdl-navigation__link" href="#/rewarditems"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Reward Items</a>
        <a class="mdl-navigation__link" href="#/userlist"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">wc</i>Users</a>
        <a class="mdl-navigation__link" href="#/surveylist"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">trending_up</i>Surveys</a>
        <div class="mdl-layout-spacer"></div>
      </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100" ui-view>
    
    </main>
  </div>
  
  <script src="/bower_components/material-design-lite/material.min.js"></script>
  <script src="/bower_components/angular/angular.min.js?date=1"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="/bower_components/angular-simple-logger/dist/index.js"></script>
  <script src="/bower_components/leaflet/dist/leaflet-src.js"></script>
  <script src="/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
  <script src="/admin/scripts/common/storage.js"></script>
  <script src="/admin/scripts/common/PagingUtil.js"></script>
  <script src="/admin/assets/angular-material-design-lite.js"></script>
  <script src="/admin/scripts/app/app.js?date=1"></script>
  <script src="/admin/scripts/app/login/session.controller.js"></script>
  <script src="/admin/scripts/app/user-group/routes.js"></script>
  <script src="/admin/scripts/app/user-group/usergroup.controller.js"></script>
  <script src="/admin/scripts/app/challenge/routes.js"></script>
  <script src="/admin/scripts/app/challenge/challenge.controller.js"></script>
  <script src="/admin/scripts/app/teamchallenge/routes.js"></script>
  <script src="/admin/scripts/app/teamchallenge/teamchallenge.controller.js"></script>
  <script src="/admin/scripts/app/rewarditem/routes.js"></script>
  <script src="/admin/scripts/app/rewarditem/rewarditem.controller.js"></script>
  <script src="/admin/scripts/app/award/routes.js"></script>
  <script src="/admin/scripts/app/award/award.controller.js"></script>
  <script src="/admin/scripts/app/users/user.controller.js"></script>
  <script src="/admin/scripts/app/survey/routes.js"></script>
  <script src="/admin/scripts/app/survey/survey.controller.js"></script>
  
  
  
</body>
</html>
