<div class="mdl-grid demo-content">
      <table id="table" class="default-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Description</th>
            <th class="mdl-data-table__cell--non-numeric" style="width:100px;">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="userGroup in userGroups" >
            <td ui-sref="editusergroup({userGroupId:userGroup.id})" class="mdl-data-table__cell--non-numeric" ng-bind="userGroup.name"></td>
            <td ui-sref="editusergroup({userGroupId:userGroup.id})" class="mdl-data-table__cell--non-numeric" ng-bind="userGroup.description"></td>
            <td class="mdl-data-table__cell--non-numeric"><a ui-sref="usergroupmembers({userGroupId:userGroup.id})">Users</a></td>
          </tr>
        </tbody>
      </table>
      
      
      <!-- Colored mini FAB button -->
      <a ui-sref="newusergroup" class="mdl-button mdl-js-button mdl-button--fab mdl-button--fab mdl-button--colored modal__trigger"
        style="bottom: 24px; right: 24px; position: fixed;">
        <i class="material-icons">add</i>
      </a>
    </div>
    
