
<div class="mdl-grid demo-content">
  <h3>
    <span ng-bind="mainUserGroup.name"></span> : <small ng-bind="mainUserGroup.description"></small>
  </h3>
</div>
<div class="mdl-grid demo-content">
  <table id="table" class="default-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Email</th>
        <th class="mdl-data-table__cell">Total Points</th>
        <th class="mdl-data-table__cell">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in members">
        <td class="mdl-data-table__cell--non-numeric" ng-bind="user.name"></td>
        <td class="mdl-data-table__cell--non-numeric" ng-bind="user.email"></td>
        <td class="mdl-data-table__cell" ng-bind="user.scorePoints"></td>
        <td class="mdl-data-table__cell" ng-bind="user.status"></td>
      </tr>
    </tbody>
  </table>
</div>
