<div class="mdl-grid demo-content">
  <div class="challenge-form mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">User Group Information</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form name="usergroupform" class="mdl-grid">
          <div mdl-upgrade ng-class="{'is-dirty':mainUserGroup.id, 'is-invalid':!mainUserGroup.id}" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
            <input class="mdl-textfield__input" type="text" ng-model="mainUserGroup.name" required  maxlength="100"/> <label class="mdl-textfield__label"
            >Name</label>
          </div>
          <div mdl-upgrade ng-class="{'is-dirty':mainUserGroup.id, 'is-invalid':!mainUserGroup.id}" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
            <input class="mdl-textfield__input" type="text" ng-model="mainUserGroup.description" required  maxlength="100"/> <label class="mdl-textfield__label">Description</label>
          </div>
      </form>
      <div class="mdl-card__actions mdl-card--border">
        
        <button mdl-upgrade class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="float: right;"
          ng-disabled="!usergroupform.$valid" ng-click="saveUserGroup()">Save</button>
        <button mdl-upgrade class="mdl-button mdl-js-button mdl-js-ripple-effect" style="float: right;" ui-sref="usergroups">Cancel</button>
      </div>
    </div>
  </div>