<div class="mdl-grid demo-content">
      <table id="table" class="default-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Email</th>
            <th class="small">Unspent Points</th>
            <th class="small">Total Points</th>
            <th class="small">Status</th>
            <th class="mdl-data-table__cell--non-numeric">Group</th>
            <th class="small">Award Giver</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users track by $index" >
            <td class="mdl-data-table__cell--non-numeric" ng-bind="user.name"></td>
            <td class="mdl-data-table__cell--non-numeric" ng-bind="user.email"></td>
            <td class="small" ng-bind="user.rewardPoints"></td>
            <td class="small" ng-bind="user.scorePoints"></td>
            <td class="small" ng-bind="user.status"></td>
            <td class="mdl-data-table__cell--non-numeric"> 
              <button id="group-menu-{{user.id}}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="setUser(user);showGroups()">
                <i class="material-icons">group</i>
              </button>
              {{user.userGroup.name}}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-{{user.id}}" ng-click="saveUser(user)">
                <input type="checkbox" id="checkbox-{{user.id}}" ng-model="user.awardGiver" class="mdl-checkbox__input">
              </label>
              
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" >
        <div class="pagination">
          <span ng-show="links['prev']" ng-click="loadPage(links['prev'])"><</span>
          <span ng-show="page > 2" ng-click="loadPage(page - 2)">{{page - 2}}</span>
          <span ng-show="page > 1" ng-click="loadPage(page - 1)">{{page - 1}}</span>
          <span class="active">{{page}}</span>
          <span ng-show="page < links['last']" ng-click="loadPage(page + 1)">{{page + 1}}</span>
          <span ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)">{{page + 2}}</span>
          <span ng-show="links['next']" ng-click="loadPage(links['next'])">></span>
        </div>
      </div>
  
  <button id="menuButton" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" style="visibility: hidden;">
    <i class="material-icons">group</i>
  </button>
  <ul mdl-upgrade class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="menuButton" style="max-height:450px; overflow-y:scroll;">
    <li ng-repeat="userGroup in userGroups" class="mdl-menu__item"  ng-click="saveUserGroup(userGroup)">{{userGroup.name}}</li>
  </ul>
  
  
  <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--fab mdl-button--colored " 
    style="bottom: 24px; right: 24px; position: fixed;" href="/downloads/users" target="_blank">
    <i class="material-icons">file_download</i>
  </a>
</div>
    
