/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@font-face {
    font-family: RapierZero;
    src: url(../fonts/Rapier_Zero.otf);
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.demo-layout .demo-header .mdl-textfield {
  padding-top: 27px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.demo-avatar-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}



/*

	Developer 

*/

#brand{
	font-family: RapierZero;
	font-size: xx-large;
	text-align:center;
}
.brand{
	font-family: RapierZero;
	font-size: xx-large;
	text-align:center;
}

.login-form{
	max-width : 30em;
	margin-left: auto;
	margin-right: auto;
}

.challenge-form{
	max-width : 50em;
	margin-left: auto;
	margin-right: auto;
}


.default-list{
	margin-left: auto;
	margin-right: auto;
}

#table {
  display: table;
  width : 90%;
  table-layout: fixed;
}

#table-medium {
  display: table;
  width : 70%;
  table-layout: fixed;
}

.mdl-data-table td {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

th.small {
	width: 130px;
}


::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}


.task-card{
	margin-left:auto;
	margin-right:auto;
} 
.task-number{
	position: relative;
    margin-top: 10px;
    margin-left: 10px;
}
.delete-task{
	position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    right:10px;
}

.delete-task:HOVER{
	cursor:pointer;
}

.delete-selection{
	margin-top:20px;
}

.add-selection{
	position: absolute;
	top: 100px;
	right: 25px;
}

.task-title{
	padding-bottom:2px;
}
.task-details{
	padding-top:2px;
}
.task-field{
	padding-bottom:2px;
	padding-top:2px;
}
.mdl-textfield__input {
	font-size: 15px;	
}
img.reward-item-full-pic{
	max-height:200px;
	max-width:200px;
	margin-left:auto;
	margin-right:auto;
}

img.reward-item-thumb-pic{
	max-height:25px;
	max-width:25px;
	margin-left:auto;
	margin-right:auto;
}


[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  width:0%;
  height:50%;
}

[ui-view].ng-enter-active {
  opacity: 1;
  width:100%;
}

[ui-view].ng-leave {
  opacity: 1;
  top:0;
  height:100%;
}

[ui-view].ng-leave-active {
  opacity: 0;
  top:50px;
  height:0%;
}

.row {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  right: 30px;
  top: 80px;
  position: fixed;
  font-family: 'Roboto', sans-serif;
}

.row .pagination {
  font-size: 20px;
  text-align: center;
}

.row .pagination span {
  height: 30px;
  width: 30px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
}

.row .pagination span.active {
  background: #2196F3;
  border-radius: 50%;
  color: white;
}

.row .pagination span.active:hover {
  color: white;
}
.row .pagination span:hover {
  color: black;
}
.row .pagination span:first-child {
  margin-left: 10px;
}
.row .pagination span:last-child {
  margin-right: 10px;
}

