
<div class="mdl-grid demo-content">
  <div class="challenge-form mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Reward Item Information</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form name="form" class="mdl-grid" novalidate>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
          <input class="mdl-textfield__input" type="text" ng-model="mainRewardItem.name" readonly /> <label class="mdl-textfield__label" for="sample3">Name</label>
        </div>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
          <input class="mdl-textfield__input" type="text" ng-model="mainRewardItem.description" required /> <label class="mdl-textfield__label" >Description</label>
        </div>
        <div class="mdl-grid mdl-cell--5-col" style="margin-left:auto; margin-right:auto;" >
          <img class="reward-item-full-pic" src="{{mainRewardItem.resourcePath}}"/>
        </div>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
          <input class="mdl-textfield__input" type="text" ng-model="redemptionCode" /> <label class="mdl-textfield__label">REDEMPTION CODE</label>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button mdl-upgrade class="mdl-button mdl-js-button mdl-js-ripple-effect" style="float: left;" ui-sref="rewarditems">Cancel</button>
      <button mdl-upgrade class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="float: right;" ng-disabled="!form.$valid" ng-click="claim()">CLAIM</button>
    </div>
  </div>
</div>
