<div class="mdl-grid demo-content">
  <table id="table-medium" class="default-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Picture</td>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Description</th>
        <th class="small">Point Requirement</th>
        <th class="small">Quantity</th>
        <th class="small">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rewardItem in rewardItems">
        <td ui-sref="editrewarditem({rewardItemId:rewardItem.id})" class="mdl-data-table__cell--non-numeric"><img class="reward-item-thumb-pic" src="{{rewardItem.resourcePath}}"></td>
        <td ui-sref="editrewarditem({rewardItemId:rewardItem.id})" class="mdl-data-table__cell--non-numeric" ng-bind="rewardItem.name"></td>
        <td ui-sref="editrewarditem({rewardItemId:rewardItem.id})" class="mdl-data-table__cell--non-numeric" ng-bind="rewardItem.description"></td>
        <td ui-sref="editrewarditem({rewardItemId:rewardItem.id})" ng-bind="rewardItem.pointRequirement"></td>
        <td ui-sref="editrewarditem({rewardItemId:rewardItem.id})" ng-bind="rewardItem.quantity"></td>
        <td> <a  ui-sref="claimrewarditem({rewardItemId:rewardItem.id})"> Claim</a></td>
      </tr>
    </tbody>
  </table>
  
  <div class="row" >
    <div class="pagination">
      <span ng-show="links['prev']" ng-click="loadPage(links['prev'])"><</span>
      <span ng-show="page > 2" ng-click="loadPage(page - 2)">{{page - 2}}</span>
      <span ng-show="page > 1" ng-click="loadPage(page - 1)">{{page - 1}}</span>
      <span class="active">{{page}}</span>
      <span ng-show="page < links['last']" ng-click="loadPage(page + 1)">{{page + 1}}</span>
      <span ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)">{{page + 2}}</span>
      <span ng-show="links['next']" ng-click="loadPage(links['next'])">></span>
    </div>
  </div>
</div>
<!-- Colored mini FAB button -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--fab mdl-button--colored modal__trigger"
    ui-sref="newrewarditem" 
	style="bottom: 24px; right: 24px; position: fixed;">
  <i class="material-icons">add</i>
</button>