<div class="mdl-grid demo-content" >
    <div class="login-form mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Welcome</h2>
      </div>
      <form name="signinform" class="mdl-grid">
      <div class="mdl-card__supporting-text">
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
            <input class="mdl-textfield__input" type="text" ng-model="loginRequest.email" required /> <label class="mdl-textfield__label" for="sample3">Username</label>
          </div>
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
            <input class="mdl-textfield__input" type="password" ng-model="loginRequest.password" ng-change="setIdentifier()" required /> <label
              class="mdl-textfield__label">Password</label>
          </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <input id="signinform" type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="float: right;"
          ng-disabled="!signinform.$valid" ng-click="login()" value="Sign in">
      </div>
      </form>
    </div>
  </div>
  