
<div class="mdl-grid demo-content">
  <div class="challenge-form mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Survey Information</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form name="surveyform" class="mdl-grid" novalidate>
        <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo mdl-cell mdl-cell--12-col">
          <input class="mdl-textfield__input" type="text" ng-model="mainSurvey.title" required  maxlength="100"/> <label class="mdl-textfield__label">Title</label>
        </div>
        <!-- <div class="mdl-grid"> -->
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
            <input class="mdl-textfield__input" type="datetime-local" ng-model="mainSurvey.startDate" required /> <label class="mdl-textfield__label">
              Start Date</label>
          </div>
          <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
            <input class="mdl-textfield__input" type="datetime-local" ng-model="mainSurvey.endDate" required /> <label class="mdl-textfield__label"> End Date</label>
          </div>
        <!-- </div> -->
        <!-- Questions -->
        <div class="task-card mdl-card mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--12-col" ng-repeat="question in mainSurvey.questions">
          <!-- <div class="task-number">#{{$index+1}}</div> -->
          <i ng-hide="$index==0"class="mdl-color-text--blue-grey-400 material-icons delete-task" role="presentation" ng-click="removeQuestion(question)">close</i>
          <div class="mdl-card__title task-title">
            <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
              <input class="mdl-textfield__input" type="text" ng-model="question.text" required  maxlength="100"/> <label class="mdl-textfield__label">Question #{{$index+1}} text</label>
            </div>
          </div>
          
          <div class="mdl-card__supporting-text task-details" ng-show="question.id">
            <h3 style="text-align:center;"><small>Avg ratings:</small> {{question.average | number:1}} / 6</h3>
            <h6 style="text-align:center;" >{{question.respondents}} users</h6>
          </div>
        </div>
        <!-- END Questions -->
        
        <div class="mdl-grid">
          <button ng-click="addQuestion()" mdl-upgrade class="mdl-button mdl-js-button mdl-button--raised" style="margin-left:auto;margin-right:auto;" type="button">Add Question</button>
        </div>
        
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button mdl-upgrade class="mdl-button mdl-js-button mdl-js-ripple-effect" style="float: left;" ui-sref="surveylist">Cancel</button>
      <button mdl-upgrade class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="float: right;" ng-disabled="!surveyform.$valid" ng-click="save()">Save</button>
      <a href="/api/surveys/{{mainSurvey.id}}/response" target="_blank"  mdl-upgrade class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary" style="float: right; margin-right:5px;"  ng-show="mainSurvey.id">Response <i class="material-icons" role="presentation">file_download</i></a>
    </div>
  </div>
  <style>
    .card-result.mdl-card {
      background: #3E4EB8;
    }
    .card-result > .mdl-card__actions {
      border-color: rgba(255, 255, 255, 0.2);
    }
    .card-result > .mdl-card__title > h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .card-result > .mdl-card__actions {
      display: flex;
      box-sizing:border-box;
      align-items: center;
    }
    .card-result > .mdl-card__title,
    .card-result > .mdl-card__actions,
    .card-result > .mdl-card__actions > .mdl-button {
      color: #fff;
    }
  </style>
  <div class="modal-trigger" ng-class="{'opened': pollTask}" ng-click="pollTask = false;">+</div>
  <div class="modal">
    <div class="inner-modal">
      <div class="modal-content">
        <div class="card-result mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h4 ng-bind="pollTask.description"></h4>
          </div>
          <div ng-repeat="selection in pollTask.selections" class="mdl-card__actions mdl-card--border">
            {{selection.text}}
            <div class="mdl-layout-spacer"></div>
            {{selection.votes?selection.votes:'0'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
